@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
:root {
    --main-font : 'Assistant';
}

.modal-overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: 250ms opacity ease-in;
}

.modal-overlay-2 {
    width: 120vw;
    height: 110vh;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: 250ms opacity ease-in;
}

.modal-overlay-3 {
    width: 120vw;
    height: 110vh;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: 250ms opacity ease-in;
}

.how-to-use-button {
    margin: 2rem;
    font-size: 16px;
    color: rgb(185, 185, 185);
    border-radius : 10px;
    font-family: var(--main-font);
    opacity: 0.7;
    border: 1px solid rgba(214, 214, 214, 0.486);
    padding: 15px;
    background-color: rgb(59, 59, 59);
}

.modal-visible {
    opacity: 1;
    pointer-events: auto;
}

.how-to-container { 
    background-color: white;
    height: 22rem;
    width: 15rem;
    padding: 1.5rem;
    border-radius: 10px;
    font-family: var(--main-font);
}

.todo-item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(109, 109, 109);
}
.form-container {
    background-color: white;
    height: 32rem;
    width: 15rem;
    padding: 0 1rem;
    border-radius: 10px;
    background-color: rgb(109, 109, 109);
    color: white;
    font-weight: 1000;
}

.form-container form {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    border-top: 1px solid gray;
    padding: 0.2rem 0;
    font-family: 'Quicksand', sans-serif;

}

textarea {
    resize: none;
    border-radius: 10px;
}

.radio-labels {
    margin: 0;
    padding: 0;
    width: 18em;
}

.radio-label {
    margin: 0 1em;
}

.radio-buttons {
    margin: 0;
    width: 20em;
    
}

label {
    margin-bottom : 0.2em;
}
input {
    border-radius: 10px;
    margin: 0.5em 0;
}

input[type="radio"] {
    margin:  1em 2.3em;
}

#create-todo-submit {
    margin: 1em 6em;
    width: 5em;
}

.hidden-details {
    display: none;
}

.reveal-details { 
    display: block;
}

.completed {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 5px;
}
#Selected {
    background-color: brown;
    color: white;
}