@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Nunito:wght@200&display=swap');

:root {
    --main-font : 'Assistant';
}

.modal-overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: 250ms opacity ease-in;
}

.modal-overlay-2 {
    width: 120vw;
    height: 110vh;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: 250ms opacity ease-in;
}

.how-to-use-button {
    margin: 2rem;
    font-size: 20px;
    border-radius : 5%;
    font-family: var(--main-font);
}

.modal-visible {
    opacity: 1;
    pointer-events: auto;
}

.how-to-container { 
    background-color: white;
    height: 22rem;
    width: 15rem;
    padding: 1.5rem;
    border-radius: 10px;
    font-family: var(--main-font);
}

.todo-item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    border: 3px solid rgb(255, 240, 25);
    border-radius: 3%;
}
.form-container {
    background-color: white;
    height: 30rem;
    width: 15rem;
    padding: 1.5rem;
    border-radius: 10px;

}

.form-container form {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    border-top: 1px solid gray;
    padding: 1rem 0;
}

textarea {
    resize: none;
}

.radio-labels {
    margin: 0 0.8em 0 0.8em;
    padding: 0;
    width: 15em;
}

.radio-label {
    margin: 0 1em 0 1em;
}

.radio-buttons {
    margin: 0 0.8em 0 0.8em;
    width: 20em;
    
}

input[type="radio"] {
    margin:  1em 2.2em;
}

#create-todo-submit {
    margin: 1em 6em;
    width: 5em;
}

.hidden-details {
    display: none;
}

.reveal-details { 
    display: block;
}

#Selected {
    background-color: brown;
}